body {
    margin-right: 1px;
    margin-left: 0px;
    margin-top: 45px;
    margin-bottom: 0px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: #dbdee0;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
}

section.side {
    margin-top: 2px;
    background: url(../../../assets/background/bk.png) no-repeat;
    background-size: 100% 102%;
}

.side img {
    width: 95.5%;
    max-width: 100%;
}

.login-container {
    max-width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    margin-top: -5px;
    margin-left: 45px;
    text-transform: uppercase;
    font-size: 3em;
    font-weight: bold;
    text-align: center;
    letter-spacing: 1px;
}

.separator {
    width: 150px;
    height: 4px;
    background-color: #4636dc;
    margin-top: -20px;
    margin-bottom: 20px;
    margin-left: 40px;
}

.welcome-message {
    margin-left: 37px;
    font-family: 'roboto',sans-serif;
    text-align: center;
    font-size: 1.1em;
    line-height: 28px;
    margin-bottom: 30px;
    color: #696969;
}

.login-form {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.form-controll {
    width: 100%;
    position: relative;
    margin-bottom: 24px;
}

input,
button {
    border: none;
    outline: none;
    border-radius: 30px;
    font-size: 1em;
}

input {
    margin-left: 22px;
    width: 98%;
    background: #e6e6e6;
    color: #333;
    letter-spacing: 0.5px;
    padding: 18px 64px;
}

input ~ svg {
    position: absolute;
    left: 50px;
    top: 51%;
    transform: translateY(-50%);
    color: #888;
    transition: color   0.4s;
}

input:focus ~ svg {
    color: #843bc7;
}

button.submit {
    color: #fff;
    padding: 14px 64px;
    margin: 20px auto;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: bold;
    background-image: linear-gradient(to right, #8b33c5, #15a0e1);
    cursor: pointer;
    transition: opacity 0.4s;
    margin-left: 85px;
}

button.submit:hover {
    opacity: 0.9;
}

/* ----  Responsiveness   ----  */
@media (max-width: 780px) {

    body {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .side {
        display: none;
    }
}
.title{
    font-family: 'mukta',sans-serif;
}
p.p1{
    font-size:small;
    font-family: 'roboto',sans-serif;
    margin-left: 85px;
}
a.p1{
    font-size: small;
    font-family: 'roboto',sans-serif;
    margin-left: 3px;
}