<div class="container">
  <div class="left">
    <div class="header">
      <h2 class="animation a1">Cher Client,</h2>
      <h4 class="animation a2">Inscrivez-vous</h4>
    </div>
    <div class="form">
      <input type="text" [(ngModel)]="hero.Nom" name="nom" id="nom" class="form-field animation a3" placeholder="Nom" required>
      <input type="text" [(ngModel)]="hero.Prenom" name="prenom" id="prenom" class="form-field animation a4" placeholder="Prenom" required>
      
      <select name="select1" [(ngModel)]="hero.Ooption" id="select1" class="form-field animation a5" required
              (change)="onUserTypeChange()">
          <option value="" disabled selected hidden>Sélectionnez votre type</option>
          <option value="Agence">Agence</option>
          <option value="Client">Client</option>
      </select>
      
      <!-- Champs spécifiques à l'agence -->
      <div *ngIf="showAgencyFields" class="agency-fields animation a5">
        <input type="text" [(ngModel)]="hero.NomAgence" name="nomAgence" class="form-field" placeholder="Nom de l'agence" required>
        <input type="text" [(ngModel)]="hero.AdresseAgence" name="adresseAgence" class="form-field" placeholder="Adresse de l'agence" required>
      </div>
      
      <input type="date" [(ngModel)]="hero.Date_De_Naissance" name="age" id="age" placeholder="Date de naissance" class="form-field animation a6">
      <input type="email" [(ngModel)]="hero.Email" class="form-field animation a7" name="email" placeholder="Email" id="email" required>
      <input type="password" [(ngModel)]="hero.Mot_De_Passe" class="form-field animation a8" placeholder="Mot de passe" required>
      <button (click)="ajout()" class="animation a6">Créer mon compte</button>
    </div>
  </div>
  <div class="right"></div>
</div>