<div class="navbarr">
  <nav>
    <div class="menu-toggle" (click)="toggleMenu()">
      <span></span>
      <span></span>
      <span></span>
    </div>
    <ul class="snip1143" [class.active]="menuOpen">
      <li><a href="#vedio" data-hover="Accueil">Accueil</a></li>
      <li><a href="#about-us" data-hover="A propos">A propos</a></li>
      <li><a href="#v2" data-hover="Véhicules">Véhicules</a></li>
      <li><a href="#footer" data-hover="Contact">Contact</a></li>
      
      <ng-container *ngIf="authService.authStatus$ | async; else notLoggedIn">
        <li>
          <a (click)="onLogout()" style="cursor: pointer;" data-hover="Déconnexion">
            Déconnexion {{currentUser?.first_name }}
          </a>
        </li>
        <!-- Afficher "Publier annonce" seulement pour les agences -->
        <li *ngIf="currentUser?.user_type === 'Agence'">
          <a routerLink="/publier-annonce" data-hover="Publier une annonce" class="connecter">
            Publier une annonce
          </a>
        </li>
        <!-- Dans votre template de navbar -->
        <li class="nav-item" *ngIf="authService.isLoggedIn()">
          <a class="nav-link" routerLink="/reservation" (click)="menuOpen = false">
            <i class="fas fa-shopping-cart"></i>
            <span class="badge bg-danger" *ngIf="cartCount > 0">{{ cartCount }}</span>
          </a>
        </li>
        <!-- Ajoutez cette partie dans le ng-container pour les utilisateurs connectés -->
        <li *ngIf="currentUser?.user_type === 'Admin'">
          <a routerLink="/admin" (click)="testAdminNavigation()" data-hover="Dashboard Admin" class="connecter">
            Dashboard Admin
          </a>
        </li>
      </ng-container>
      
      <ng-template #notLoggedIn>
        <li>
          <a routerLink="/se-connecter" data-hover="Se connecter" class="connecter">
            Se connecter
          </a>
        </li>
      </ng-template>
    </ul>
  </nav>
</div>